---
# Only the main Sass file needs front matter (the dashes are enough)
---

$grey-color:       #CC0033;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$grey-color-old:       #828282;
$grey-color-light-old: lighten($grey-color, 40%);
$grey-color-dark-old:  darken($grey-color, 25%);

$brand-color:   #CC0033;
$accent-color:  #f7d9e1;

@import "minima";

.footer-col-wrapper {
    color: $grey-color-old;
}

.post-meta {
    color: $grey-color-old;
}

.post-back {
    margin-top: 15px;
    font-size: 20px;
}

pre,
code {
    background-color: $accent-color;
}
