---
layout: default
---

<div class="home">
    {% assign course = site.collections | where: "label", page.collection | first %}
    <ul class="breadcrumbs">
        <li><a href="{{ '/' | relative_url }}">Alle vakken</a></li>
        <li>{{ course.name | escape }}</li>
    </ul>

    <small>Course code: {{ course.course_code | escape }}</small>
    <h1 class="page-heading">{{ course.name | escape }}</h1>

    {{ content }}

    {%- if course.docs.size > 0 -%}
    <h2 class="post-list-heading">Lessen</h2>
    <ul class="post-list">
        {% assign lessons = course.docs | where_exp:"item", "item.title != page.title" %}

        {% if page.sort_lesson_key %}
            {% assign lessons = lessons | sort: "lesson" %}
        {% endif %}

        {%- for lesson in lessons -%}
        <li>
            <h3>
                <a class="post-link" href="{{ lesson.url | relative_url }}">
                    {{ lesson.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ lesson.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}

    <a class="nav-home" href="{{ '/' | relative_url }}"><-- Alle vakken</a>
</div>