---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.collections.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {% assign courses = site.collections | where_exp:"item", "item.label != 'posts'" %}
        {%- for course in courses -%}
        <li>
            <h3>
                <a class="post-link" href="{{ course.label | prepend: '/' | append: '/' | relative_url }}">
                    {{ course.name | escape }}
                </a>
            </h3>
            <p>Course code: {{ course.course_code | escape }}</p>
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</div>